@use "../../../styles" as *;

.burgerMenu {
  position: relative;
  z-index: 60;
  display: flex;
  flex-direction: row;
  gap: 12px;
  text-transform: uppercase;
  font-size: var(--text-sm-btn);
  letter-spacing: $ls-7;
  line-height: $lh-100;
  font-weight: $semibold;
  align-items: center;

  .burgerIcon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4px;
    width: 32px;
    height: 24px;
    cursor: pointer;
    transition: transform 0.25s ease;

    div {
      width: 100%;
      height: 2px;
      background-color: $color-accent;
      transition: all 0.25s ease;
    }
  }

  &:hover {
    .burgerIcon {
      div:nth-child(1) {
        transform: translateY(-3px);
      }

      div:nth-child(3) {
        transform: translateY(3px);
      }
    }
  }
}

@include xxl {
  .burgerMenu {
    gap: 15px;
    .burgerIcon {
      gap: 4px;
      width: 38px;
      height: 17px;
    }
  }
}

@include lg {
  .burgerMenu {
    gap: 10px;
  }
}

@include sm {
  .burgerText {
    display: none;
  }
}

.menuSelect {
  width: 100%;
}

.menuNav {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    gap: 16px;
    margin-bottom: 40px;
  }

  a {
    display: inline-block;
    transition:
      color 0.2s ease,
      transform 0.25s ease;
  }

  a:hover {
    color: $color-accent;
    transform: translateX(6px);
  }

  a.active {
    color: $color-accent;
  }
}
